.input-wrapper {
    margin: 15px;
    background: #161a2b;
    padding: 20px;
    border-radius: 5px;
    min-width: 270px;
   
}

.todo-button {
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg,#5d0cff,#9b00fa);
    color: #fff;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius:4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 769px) {
    .input-wrapper {
        margin: 15px;
        background: #161a2b;
        padding: 5px;
        border-radius: 5px;
        width: 60px;
        display: flex;
        justify-content: space-between;
       
    }

    .todo-input {
        padding: 4px;
        border-radius: 4px 0 0 4px;
        border: 2px solid #5d0cff;
        outline: none;
        width: 60px;
        background: transparent;
        color: #fff;
        height: 10px;
        flex-grow: 1;
    }

    .todo-button {
        padding: 4px;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        outline: none;
        background: linear-gradient(90deg,#5d0cff,#9b00fa);
        color: #fff;
    }

    form {
        display: flex;
    justify-content: space-between;
    width: 100%;
    }
}

