.edit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgb(0, 255, 98);
    color: black;
    justify-content: space-around;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 10px;
}

